.leftStim {
    margin-left: 1%;
    float: left;
    width: 35%;
    padding: 5px;
}

.rightStim {
    margin-right: 1%;
    float: right;
    width: 35%;
    padding: 5px;
}

.fixationText {
    font-size: 90px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.leftStimInstruction {
    font-size: 50px;
    color: white;
    position: fixed;
    top: 77%;
    left: 22%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.rightStimInstruction {
    font-size: 50px;
    color: white;
    position: fixed;
    top: 77%;
    left: 77%;
    transform: translate(-50%,-50%);
    text-align: center;
}