.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.leftStim {
    margin-left: 1%;
    float: left;
    width: 35%;
    padding: 5px;
}

.rightStim {
    margin-right: 1%;
    float: right;
    width: 35%;
    padding: 5px;
}

.fixationText {
    font-size: 90px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.leftStimInstruction {
    font-size: 50px;
    color: white;
    position: fixed;
    top: 77%;
    left: 22%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.rightStimInstruction {
    font-size: 50px;
    color: white;
    position: fixed;
    top: 77%;
    left: 77%;
    transform: translate(-50%,-50%);
    text-align: center;
}