textarea {
    direction: rtl;
}

body:-webkit-full-screen {
    width: 100% !important;
}
body:-moz-full-screen {
    width: 100% !important;
}
body:-ms-fullscreen {
    width: 100% !important;
}
body:fullscreen {
    width: 100% !important;
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.stim img {
    width: 100%;
    padding: 5px;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.stim {
    width: 25%;
}

.leftStim {
    margin-left: 10%;
    float: left;
}

.rightStim {
    margin-right: 10%;
    float: right;
}

.fixationText {
    font-size: 90px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*text-align: center;*/
}

.instructionContainer {
    margin-top: 5%;
}

.leftStimInstruction {
    font-size: 50px;
    color: white;
    /*position: fixed;*/
    /*top: 77%;*/
    /*left: 22%;*/
    /*transform: translate(-50%,-50%);*/
    /*text-align: center;*/
}

.rightStimInstruction {
    font-size: 50px;
    color: white;
    /*position: fixed;*/
    /*top: 77%;*/
    /*left: 77%;*/
    /*transform: translate(-50%,-50%);*/
    /*text-align: center;*/
}