<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tryout</title>
    <link href="../jspsych-5.0.3/css/jspsych.css" rel="stylesheet" type="text/css"></link>
    <link href="../css/style.css" rel="stylesheet" type="text/css"></link>

    <script src="../jspsych-5.0.3/jspsych.js"></script>
    <script src="../jspsych-5.0.3/plugins/jspsych-text.js"></script>
    <script src="../jspsych-5.0.3/plugins/jspsych-single-stim.js"></script>
    <script src="../jspsych-5.0.3/plugins/jspsych-single-audio.js"></script>
    <script src="../jspsych-5.0.3/plugins/jspsych-multi-stim-multi-response.js"></script>
    <script src="../jspsych-5.0.3/plugins/jspsych-call-function.js"></script>
    <script src="../jspsych-5.0.3/plugins/jspsych-instructions.js"></script>
    <script src="../jspsych-5.0.3/plugins/jspsych-survey-text.js"></script>

    <script src="boost_fractals.js"></script>
</head>
<body style="background-color: black;">
    <div id="jspsych-target" style="color: white; margin-top: 10%;"></div>
</body>
</html>