<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boost Fractals</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!--<script src="/js/lodash.js"></script>-->
    <script src="../common.js"></script>
    <script src="../jspsych-5.0.3/jspsych.js"></script>
    <script src="../jspsych-5.0.3/plugins/jspsych-text.js"></script>
    <script src="../jspsych-5.0.3/plugins/jspsych-single-stim.js"></script>
    <link href="../jspsych-5.0.3/css/jspsych.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
    <div id="jspsych-target"></div>
</body>
<script>
    $( document ).ready(function() {
        console.log( "ready!" );
    });

    $.get('/stimuli/vis', function (expData){
        var stimuli = expData.stimuli;

        var l = common.createRandomCompetitions(stimuli, expData.rankingTrials);

        var competitions_stimuli = [];
        for (var i = 0; i < l.list1.length; i++){
            competitions_stimuli.push(
                    {
                        data:{
                            stim1: l.list1[i],
                            stim2: l.list2[i]
                        },
                        stimulus:
                            '<img src="/stim/vis/' + l.list1[i] + '" id="jspsych-single-stim-stimulus" style="float: left; width: 350px;">' +
                            '<img src="/stim/vis/' + l.list2[i] + '" id="jspsych-single-stim-stimulus" style="float: right; width: 350px;">'
                    });
        }

        expData.ranking_key_codes = {
            left: jsPsych.pluginAPI.convertKeyCharacterToKeyCode(expData.ranking_keys.left),
            right: jsPsych.pluginAPI.convertKeyCharacterToKeyCode(expData.ranking_keys.right)
        }

        var c = common.colley(stimuli.length);

        var ranking_result = {};
        ranking_result.trials = [];
        ranking_result.items_ranking = [];
        ranking_result.trial_count = 0;

        var rankingTrials = {
            type: 'single-stim',
            choices: [expData.ranking_keys.left, expData.ranking_keys.right],
            //timing_response: 1500,
            is_html: true,
            timeline: competitions_stimuli,
            on_finish: function(data){
                var selected = '';

                var nStim1 = _.indexOf(stimuli,data.stim1);
                var nStim2 = _.indexOf(stimuli,data.stim2);

                if (expData.ranking_key_codes.left == data.key_press){
                    selected = 'stim1';
                    c.addGame(_.indexOf(stimuli,data.stim1), _.indexOf(stimuli,data.stim2));
                }else{
                    c.addGame(_.indexOf(stimuli,data.stim2), _.indexOf(stimuli,data.stim1));
                }
                jsPsych.data.addDataToLastTrial({selected: selected});

                ranking_result.trial_count = ranking_result.trial_count + 1;
                ranking_result.trials.push({
                    runtrial: ranking_result.trial_count,
                    onsettime: data.time_elapsed,
                    ImageLeft: data.stim1,
                    ImageRight: data.stim2,
                    StimNumLeft: nStim1,
                    StimNumRight: nStim2,
                    out: 2,
                    RT: data.rt
                });
            }
        };

        var timeline = [];
        timeline.push(rankingTrials);

        var images = [];
        stimuli.forEach(function(stim){
            images.push('/stim/vis/' + stim);
        });

        jsPsych.pluginAPI.preloadImages(images, function(){
            jsPsych.init({
                display_element: $('#jspsych-target'),
                timeline: timeline,
                fullscreen: false,
                on_finish: function() {
                    //jsPsych.data.displayData();
                    var rankings = c.solve().array;
                    for (var i=0; i < rankings.length; i++){
                        ranking_result.items_ranking.push({
                            StimName: stimuli[i],
                            StimNum: i+1,
                            Rank: rankings[i]
                        });
                    }
                    //secondStage();
                }
            });
        });

        function secondStage(){
            var rankings = c.solve().array;

            var hello_trial = {
                type: 'single-stim',
                is_html: true,
                stimulus: '<p>' + stimuli.toString() + '</p>' + '<p>' + rankings.toString() + '</p>'
            };
            var timeline2 = [];
            timeline2.push(hello_trial);

            jsPsych.init({
                display_element: $('#jspsych-target'),
                timeline: timeline2,
                fullscreen: false,
                on_finish: function() {
                    console.log(stimuli);
                    console.log(rankings);
                }
            });
        };
    });
</script>
</html>